.bg-themed{
    background-color: #e3fbff !important;
}

.overflow-hidden{
    overflow: hidden;
}

.small-img{
    height: 2em;
}

.no-margin-bottom{
    margin-bottom: 0 !important;
}

.bold{
    font-weight: 700;
}

.no-shadows{
    box-shadow: none!important;
}

.lato{
    font-family: 'Lato', sans-serif;
}

.uppercase{
    text-transform: uppercase;
}

.text-justify{
    text-align: justify;
    text-justify: inter-word;
}

.img-res{
    max-height: 30em;
    width: auto; 
}

.logo-themed{
    color:#7bbdd5 !important;
}

.bg-logo-themed{
    background-color:#7bbdd5 !important;
}

@media (max-width: 767px){
    .img-res{
        height: 20em;
    }
}